     body{
       background-color:#E8F9FD;
          }
    hr{

          border-style: dotted none none;
          border-width:10px;
          border-color:grey;
          width:10%;
        }
h3{
  color:#002B5B;
}
